
body {
  width: 480px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
    
}

div {
  box-sizing: border-box;
  background-color: gray;
  outline: 1px solid black;
  width: 100%;
  text-align: center;
  align-items: center;
}

div:nth-child(-n+4) {
width: 480px;
}

div:nth-child(1) {
  height: 75px;
  line-height: 75px;
}

div:nth-child(2) {
  height: 150px;
  line-height: 150px;
  
}

div:nth-child(3),div:nth-child(4) {
  height: 125px;
  line-height: 125px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div .item {
  height: 250px;
  width: 240px;
  margin: 0;
  line-height: 250px;
}

div:nth-child(6) {
  height: 80px;
  width: 480px;
  line-height: 80px;
}

@media(min-width: 768px){
  body{
    width: 768px;
    
  }


}